
.body{
    font-family: sans-serif;
    background: url('../../../Assets/babytoyssleep.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
  
}
.heading{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.loginBox{
   width: 400px;
   height: 650px;
   background:whitesmoke;
   color:rgb(77, 67, 67);
   top: 50%;
   left: 24%;
   position: absolute;
   transform: translate(-50%,-50%);
   box-sizing: border-box;
   opacity: 0.9;
   margin: 0 auto;
   border-radius: 10px;
}

.input {font-family: Arial, Helvetica, sans-serif;
  width: 350px;
  height: 50px;
  margin: 0 50px 0 0;
  padding: 0px;
}
.p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  opacity: 0.8;
  margin-top: 20px;
}
.h{
  margin: 10 10px 30 30;
  margin-top: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.l{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   text-align: center;
}

.disabled {
  display: inline-block;
  padding: 25px 55px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:whitesmoke;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }

  .continue{
    text-align: center;
    color: blue;
    opacity: 0.7;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  .forgot{
    color:rgb(247, 7, 19);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  
  
  /* Hide the browser's default checkbox 
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin-top: 17;
  }*/
  
   .checkboxparagraph{
     font-size: 13px;
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 1opx;
   }
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }