

.navbar{
    opacity: 02; 
    background-color:grey;  
    
}

.backgroundbody{
   font-family: sans-serif;
   background: url('../homepage/image/whitebackground.jpg') ;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   position: relative;
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-flow: wrap;
   float: none;

   /* display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   overflow: hidden; */
}

.babyprofile{

   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
    flex-direction:column;
    align-items: flex-start;
    width: 750px;
    height: 400px;
    background:white;
    color:rgb(34, 32, 36);
    top: 24%;
    left: 16%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    opacity: 0.8;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    float: none;  
 }

 .babyprofile:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
 .vanness{
   margin-left: 60px;
   margin-top: 20px;
   margin-bottom: 10px;
   color: black;
   float: none;
}
 .babyicon{
  margin-left: 50px;
  width: 50px;
  height: 50px; 
  float:none;
 }

 .babyavatar{
   width: 40px;
   height: 40px;
   top: 20%;
   left: 20%;
   position: absolute;
   transform: translate(-0%,-150%);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: initial;
}

 .feed{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction:column;
    margin: 0 auto;
    align-items: flex-start;
    width: 350px;
    height: 450px;
    background:white;
    top: 55%;
    left: 0.5%;
    position: absolute;
    box-sizing: border-box;
    border-radius:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
 }

 .feed:hover{
box-shadow: 0 8px 16px  0 rgba(0,0,0,0.2);
 }

 .babybottle{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 15px;
    width: 60px;
    height: 60px;
    margin-top:30px;
              
}

 .feedparagraph{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    top:70%;
 }

 .timeago{
  margin-left: 40px;
 }

 .sleep{
   display: flex;
   flex-wrap: wrap;
   /* justify-content:space-around; */
   flex-direction: row;
   justify-content:flex-start;
   align-items: flex-start;
   margin: 0 auto;
   align-items:center;
   width: 370px;
   height: 450px;
   background:white;
   color:blueviolet;
   top: 55%;
   left: 16%;
   position: absolute;
   box-sizing: border-box;
   border-radius:20px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   border-radius: 20px;
}

 .sleep:hover{
   box-shadow: 0 8px 16px  0 rgba(0,0,0,0.2);
 }

.babyavatar{
   margin-left: 280px;
   margin-top: 0px;
   margin-bottom: 50px;
}
/* .height{
   margin:10;
   width:40;
   height:40;
} */

.button {
   background-color: white;
   border: none;
   color:blue;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: flex;
   font-size: 16px;
   box-shadow: 0 8px 16 px 0  rgba(0,0,0,0.2);
   border-radius: 15px;
   margin-left: 210px;
   text-align: center;
   /* margin-top: 10px; */
   justify-self: center;
   justify-content: center;
   margin-bottom: 10px;
   cursor: pointer;
   
 }

 .button:hover{
     box-shadow:0 18px 26px 0 rgba(0,0,0,0.2);

 }

 .babydiary{
   display: flex;
   flex-direction: row;
   justify-content:flex-start;
   margin-left: 20px;
   margin-bottom: 150px;
 }

 .seeall{
  margin-left: 550px;
  color: blue;
  cursor: pointer;
 }

.paragraph{
   margin-left: 15px;
   color: black;
   opacity: 0.8;
   margin-top: 8px;
   /* margin-bottom: 0px; */

}

.feedletter{
   /* margin-bottom: 50px; */
   margin-left: 100px;
   color: black;
   transform: translate(-0%,-170%);
   /* opacity: 0.7; */
}
.feedbutton{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-left: 15px;
   margin-bottom: 30px;
   padding:25px 100px;
   color:blue;
   font-size: 20px;
   box-shadow: 0 8px 16 px 0  rgba(0,0,0,0.2);
   border-radius: 15px;
   background-color: white;
   border: none;
   cursor: pointer;
}
.feedbutton:hover{
   box-shadow:0 18px 26px 0 rgba(0,0,0,0.2);
}

.moon{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   width: 50px;
   height: 50px;
   margin-left: 20px;
   margin-top: 0px;
   left: 0.5%;
}

.sleepheading{
   display: flex;
   margin-left: 30px;
   color: black;
   transform: translate(-50,-250);
   margin-top: 35px;
   flex-wrap: wrap;
   justify-content: space-between; 
   align-items: flex-start;
   flex-wrap: wrap;
   justify-content: space-between; 
}

.Awake{
   margin-left: 20px;
   color: black;
   margin-top: 0px;
}

.AwakeTime{
   margin-left: 150px;
   transform: translate(-50,-250);
   color: black;
}

.renderfeed{
   flex-direction: row;
   padding: 10px;

}

@media screen and (max-width:1200px){

   .babyprofile{
      width: 96%;
      float:none;
      left: 50%;
      transform: translate(-50%,-50%);
      top:27%;
   }
   .vanness{
      margin-left:10%;
      margin-bottom: 300%s;
   }
   .babyicon{
      width: 10%;   
   }
   .babyavatar{
      width: 30%;
   }
   .babydiary{
     margin-left: 9%;
     margin-bottom: 15%;
   }
   .seeall{
     margin-left: 30%;
   }
   .feed{
      width: 40%;
      float: none;
      left: 3%;
   }
   .feedbutton{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-left: 0%;
   margin-bottom: 0%;
   }
   .sleep{
      width: 53%;
      left: 45%;
   }
   .babyavatar{
      width: 20%;
      
   }
   .height{
      width: 40%;
   }

   .button{
    width: 30%;
   }
}